---
description: Step by step guide on what to do with test results.
---

# 📝 View and act on test results

After [creating a project](../projects/create-a-project.md) and [running a test](create-a-test.md), you can see the test results displayed on the center pane, under **TEST CASES**.

On the left-hand side pane, next to the left-hand side menu, you can navigate through the pages you selected in the scan project (for more information, see [Create a test](create-a-test.md)).

<figure><img src="../../.gitbook/assets/image (107).png" alt=""><figcaption></figcaption></figure>

Below the left-side pane, you can see the results overview of the test run on the selected page(s). To preview the full report, hover your mouse over this section and have the contents slide in and out.<br>

<figure><img src="../../.gitbook/assets/image (108).png" alt=""><figcaption></figcaption></figure>

You can also export the test report and test list. For more information, see [Export results](export-results.md).

Furthermore, on this dashboard, you can also:&#x20;

1. View the full list of test cases included in the test

<figure><img src="../../.gitbook/assets/image (109).png" alt=""><figcaption></figcaption></figure>

2. See a list of suggested Remediations

<figure><img src="../../.gitbook/assets/image (110).png" alt=""><figcaption></figcaption></figure>

3. Filter the results based on:

* Outcome/status of the test

<figure><img src="../../.gitbook/assets/image (111).png" alt=""><figcaption></figcaption></figure>

{% hint style="info" %}
Not Run test cases are not automated and need to be run manually and the Inconclusive tests will require further investigation by the user
{% endhint %}

* Tested WCAG criteria

<figure><img src="../../.gitbook/assets/image (112).png" alt=""><figcaption></figcaption></figure>

* Conformance levels (A, AA or AAA)

<figure><img src="../../.gitbook/assets/image (113).png" alt=""><figcaption></figcaption></figure>

\
Click the desired test case to see the test details displayed on the right-hand side panel, under **Test case details**. For more information, see [View test cases](../test-cases/access-test-cases.md).
